    /* リセットCSS */
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .SITE-HEADER {
        background-color: #d6ff4e;
    }

    .header-text {
        /* フォントの種類 */
        font-family: 'Playfair Display', serif;
        /* フォントの太さ */
        font-weight: 400;
        /* フォントの大きさ */
        font-size: 3rem;
        text-align: left;
        line-height: 1.35em;
        margin-left: 8rem;
    }

    /* ヘッダーの文字の下に線を引く */
    .horizontal-line1 {
        /* 線の色 */
        background-color: #000;
        /* 線の太さ */
        height: 1px;
        /* 線の長さ */
        width: 80%;
        /* 線を垂直中央に配置 */
        margin: 0 auto;
    }

    /*リストを横並びにする*/
    .nav-bar ul {
        display: flex;
        justify-content: center;
        list-style: none;
    }

    .nav-bar li {
        margin: 2rem 1.5rem;
        
    }

    .nav-bar a {
        /* ナビゲーションの文字の色 */
        color: #000;
        text-decoration: none;
        font-family: 'BIZ UDGothic', sans-serif;
    }

    

    /* ヒーロー */
    .profile-container {
        /* ヒーローの背景色 */
        background-color: #171717;
        /* ヒーローの文字の大きさ */
        font-size: 1rem;
        position: relative;
        height: 100vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 10rem;
        padding-bottom: 10rem;
    }

    .about {
        /* フォントの大きさ */
        font-size: 1rem;
        text-align: center;
        line-height: 1.5;
        color: #000;
        background-color: #d6ff4e;
        /* main-imageを使用する場合ここを使う
        position: absolute;
        left: 20%;
        top: 18%;
        */
        border-radius: 1rem;
        z-index: 2;
        margin: 2rem;
        padding: 2rem;
    }

    .about h1{
        /* フォントの種類 */
        font-family: 'Playfair Display', serif;
    }

    .about h2 {
        /* フォントの種類 */
        font-family: 'Playfair Display', serif;
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }

    .about p {
        font-size: 1.2rem;
        line-height: 1.5;
        font-family: 'BIZ UDGothic', sans-serif;
    }

    /*
    .main-image {
        position: absolute;
        left: 40%;
        top: 12.5%;
    }

    .main-image img {
        width: 40%;
        aspect-ratio: 14/15;
        border-radius: 1rem;
    }
    */

    .about a {
        display: block;
        width: 10rem;
        height: 3rem;
        line-height: 3rem;
        background-color: #000;
        color: #d6ff4e;
        text-decoration: none;
        border-radius: 1rem;
        margin: 1rem auto;
    }

    .about a:hover {
        background-color: #292929;
        color: #96b23f;
    }

    /* メイン */

    .my-timeline {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #171717;
    }

    .picture {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .picture img {
        width: 20%;
        height: auto;
    }

    .my-timeline h1 {
        font-size: 2rem;
        margin-bottom: 2rem;
        color: #c4c4c4;
    }

    .timeline-container {
        padding: 2rem;
        padding-bottom: 2rem;
        margin: 0 auto;
        max-width: 800px;
    }

    .timeline {
        position: relative;
        min-height: 20rem;
    }

    .timeline .line {
        position: absolute;
        z-index: 2;
        left: calc(50% - 1px);
        width: 2px;
        top: -3rem;
        bottom: -3rem;
        background-color: #d6ff4e;
        display: none;
    }

    .timeline .line::before,
    .timeline .line::after {
        position: absolute;
        display: block;
        content: '';
        height: 1rem;
        width: 1rem;
        border-radius: 50%;
        background-color: #d6ff4e;
        left: 50%;
        transform: translateX(-50%);
    }

    .timeline .line::after {
        bottom: 0;
    }

    .section {
        display: flex;
        opacity: 0;
        transform: translateX(-100%);
        transition: 600ms ease;
        position: relative;
        z-index: 1;
        margin: 3rem 0;
        padding: 1rem;
        border-radius: 1rem;
        align-items: center;
        min-height: 300px;
        color: #c4c4c4;
    }

    .section img {
        max-width: 100%;

    }

    .section video{
        max-width: 100%;
    }
    
    .section a{
        display: block;
        cursor: pointer;
    }

    .section:nth-child(odd) {
        flex-direction: row-reverse;
        transform: translateX(100%);
    }

    .bead {
        position: absolute;
        display: block;
        height: 1rem;
        width: 1rem;
        border-radius: 50%;
        background-color: #d6ff4e;
        left: 50%;
        top: 20%;
        transform: translateX(-50%);
    }

    .content {
        width: calc(50% - 2rem);
    }

    .show-me:nth-child(n) {
        transform: none;
        opacity: 1;
    }

    .timeline h1 {
        letter-spacing: 1rem;
    }

    /* フッター */

    footer {
        /* フッターの背景色 */
        background-color: #171717;
        /* フッターの文字の大きさ */
        font-size: 1rem;
        /* フッターの文字の色 */
        color: #d6ff4e;
    }

    footer .line {
        /* 線の色 */
        background-color: #d6ff4e;
        /* 線の太さ */
        height: 1px;
        /* 線の長さ */
        width: 80%;
        /* 線を垂直中央に配置 */
        margin: 0 auto;
    }

    footer .line::before {
        position: absolute;
        display: block;
        content: '';
        height: 0.5rem;
        width: 0.5rem;
        border-radius: 50%;
        background-color: #d6ff4e;
        margin-top: -0.25rem;
    }

    footer .line::after {
        position: absolute;
        display: block;
        content: '';
        height: 0.5rem;
        width: 0.5rem;
        border-radius: 50%;
        background-color: #d6ff4e;
        margin-top: -0.25rem;
        margin-left: 80%;
    }

    .footer-container {
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
    }

    .social-links {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4rem;
    }

    .social-links img {
        max-width: 3rem;
        min-width: 3rem;
    }

    .footer-text {
        text-align: center;
        padding: 2rem 0;
    }